.connect4-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  max-height: 1200px;
  min-height: 1100px;
  .gameboard {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 600px;
    height: 600px;
    .cell {
      border-radius: 50%;
      margin: 10px 5px;
    }
  }

  .red {
    background-color: $MetallicRed;
  }

  .blue {
    background-color: $MetallicBlue;
  }
}

//mobile styling

@media (max-width: 750px) {
  .connect4-container .gameboard {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 450px) {
  .connect4-container .gameboard {
    width: 350px;
    height: 350px;
  }
}
