$silver: #c0c0c0;
$gunmetal: #2c3539;
$brushedSteel: #b0c4de;
$MetallicRed: #b30000;
$MetallicBlue: #0066cc;

$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

$background-color: #e9e9f2;
$body-background: #f1f1f1;
$accent-color-1: $MetallicBlue;

$accent-color-2: $MetallicRed;
$accent-color-3: #9acd32;
$accent-color-4: #154d9b;
$accent-color-5: #da70d6;

$base-font-family: #b3b3b3;
$base-font-size: 15px;
$dark-paragraph-background: #333333;
$dark-link-hover: #808080;
$dark-hover-bg: rgba(33, 47, 59, 0.7);

$button-background: $gunmetal;
$button-text-color: #ffffff;
$button-hover-background: black;
$button-box-shadow: $box-shadow;

h1 {
  font-size: 60px;
  font-family: "Lato", sans-serif;
  margin: 0;
}

h2 {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  margin: 0;
}

h3 {
  margin: 0;
  text-align: center;
}

h4 {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

body {
  background-color: $body-background;
  font-family: "Roboto", sans-serif;
  font-size: $base-font-size;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.gameboard {
  margin: 0 auto;
  display: grid;
  margin-top: 50px;
  border: 2px solid $silver;
  border-radius: 20px;
  background-color: $gunmetal;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 15px rgba(0, 0, 0, 0.8);
}

.game-button {
  display: inline-block;
  color: $silver;
  background-color: $gunmetal;
  width: 200px;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  border: 3px solid black;

  &:hover,
  &:focus {
    background-color: $silver;
    color: $gunmetal;
    cursor: pointer;
  }
}

.scoreboard-container {
  display: block;
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: relative;
  z-index: 50;

  > :first-child {
    color: $MetallicRed;
  }

  > :nth-child(2) {
    color: $MetallicBlue;
  }

  div {
    background-color: $silver;
    width: 225px;
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
    border: 2px solid $gunmetal;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 15px rgba(0, 0, 0, 0.8);
  }
}

.top-banner-container {
  margin: 0 auto;
  margin-top: 25px;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}

.player-turn-banner {
  display: inline-block;
  color: $silver;
  background-color: $gunmetal;
  width: 200px;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.divider-dark {
  background-color: #212f3b;
  margin: 0;
}

.divider-light {
  background-color: #cbd6dd;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.copy-highlight {
  color: #005ca8;
}

.invite-container {
  margin: 25px 0px;
  .invite-code {
    display: block;
    margin-top: 10px;
    font-size: 20px;
  }
}

.winnerBanner {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .restart {
    margin-top: 80px;
  }
}

.instructions {
  max-width: 500px;
  width: 85%;
  margin: 0 auto;
  margin-top: 25px;
  h4 {
    margin-bottom: 10px;
  }
  li {
    margin-top: 5px;
  }
}

//mobile styling

@media (max-width: 750px) {
  .scoreboard-container {
    width: 80%;
    div {
      width: 150px;
      font-size: 18px;
      text-align: center;
    }
  }

  .player-turn-banner,
  .game-button {
    font-size: 18px;
    width: 150px;
  }

  .top-banner-container {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .scoreboard-container {
    width: 85%;
    div {
      width: 150px;
      font-size: 16px;
      text-align: center;
    }
  }

  .player-turn-banner,
  .game-button {
    font-size: 14px;
    width: 125px;
  }

  .top-banner-container {
    width: 350px;
  }
}
