// Variables
$silver: #C0C0C0; 
$gunmetal: #2C3539; 
$brushedSteel: #B0C4DE; 
$MetallicRed: #B30000; 
$MetallicBlue: #0066CC; 

// Dark Off-White Theme
$background-color: #e9e9f2; // White for main headings
$body-background: #f1f1f1; // Muted grey background
$accent-color-1: #e0e0e0; // Blue accent color

// Additional Colors
$accent-color-2: #FF7F50; // Coral/orange accent color
$accent-color-3: #9ACD32; // Yellow-green accent color
$accent-color-4: #FFD700; // Gold accent color
$accent-color-5: #DA70D6; // Orchid/purple accent color

// Dark Theme Text Colors
$base-font-family: #B3B3B3; // Light grey for general text
$base-font-size: 15px;
$dark-paragraph-background: #333333; // Darker grey for paragraph background
$dark-link-hover: #808080; // Mid-tone grey for link hover
$dark-hover-bg: rgba(33, 47, 59, 0.7); // Dark background for hover effects


h1 {
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  margin: 0px;
}
h2 {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  margin: 0px;
}

li {
  list-style: none;
}

ul{
  padding: 0;
}


body {
 background-color: $body-background;
 font-family: $base-font-family;
 font-size: $base-font-size;
 margin: 0;
}

* {
    box-sizing: border-box;
  }

  .gameboard {
    margin: 0 auto;
    display: grid;
    margin-top: 50px;
    border: 2px solid $silver;
    border-radius: 20px;
    background-color: $gunmetal;
    box-shadow:
      0 0 5px rgba(255, 255, 255, 0.5),
      0 0 15px rgba(0, 0, 0, 0.8);
  }

  .Zero-score-button {
    display: inline-block;
    margin-top: 50px;
    color: $silver;
    background-color: $gunmetal;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    margin-left: 10px;
    border: 3px solid black;

    &:hover {
      background-color: $silver;
      color: $gunmetal;
      cursor: pointer;
    }
  }

  // Scoreboard Styling
.scoreboard-container {
  display: block;
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: relative;
  z-index: 100;

  > :first-child {
    color: $MetallicRed;
  }

  > :nth-child(2) {
    color: $MetallicBlue;
  }
  div {
    background-color: $silver;
    width: 225px;
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
    border: 2px solid $gunmetal;
    box-shadow:
      0 0 5px rgba(255, 255, 255, 0.5),
      0 0 15px rgba(0, 0, 0, 0.8);

  }
}

.player-turn-banner{
  display: inline-block;
  margin-top: 50px;
  color: $silver;
  background-color: $gunmetal;
  width: 200px;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.divider-dark {
  background-color: #212f3b;
  margin: 0;
}

.divider-light {
  background-color: #cbd6dd;
  margin: 0;
}

a{
  color: $gunmetal;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
    color: $dark-hover-bg
  }
}