//Header styling
.homepage-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 200px;
  .grid-container {
    display: grid;
    grid-template-columns: 400px 800px;
    grid-template-rows: 450px;
  }
  .profile-container {
    background-color: $dark-background2;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.2), 
        0 0 0 2px $accent-color-1, 
        inset 0 0 20px rgba(255, 255, 255, 0.5); 
    .img-container{
      max-width: 300px;
      max-height: 300px;
      margin: 0 auto;
      margin-top: 25px;
      width: 100%;
      border: 2px solid $dark-background; /* Use the dark mode color */
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties */
    }
    button {
      background-color: $accent-color-1; 
      color: #ffffff; 
      padding: 10px 20px; 
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow:
          0 2px 4px rgba(0, 0, 0, 0.1), 
          0 0 0 2px $dark-background; 
      transition: transform 0.3s ease-in-out;
      &:hover {
        color: $accent-color-1;
        background-color: $dark-background2;
        animation: rotateAnimation 1.75s ease-in-out infinite alternate;
      }
      @keyframes rotateAnimation {
        0% {
          transform: rotate(0deg);
        }
        50% {
            transform: rotate(3deg);
        }
        100% {
            transform: rotate(-3deg);
        }
    }
    }
  }//end of profile container
  .skills-bar {
    background-color: $dark-background2;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.2), 
        0 0 0 2px $accent-color-1, 
        inset 0 0 20px rgba(255, 255, 255, 0.5); 
    .skills-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .icon-container {
      list-style: none;
      width: 75px;
      height: 75px;
      text-align: center;
      margin: 20px 10px;
      border: 1px solid black;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      position: relative;
      .fa-brands {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        height: 100%;
        width: 100%;
      }
      .icon-title {
      position: relative;
      bottom: -2px;
      }
      .fa-img-title {
        position: relative;
        bottom: -24px;
      }
      .fa-img {
        height: 50px;
        width: 50px;
        margin: 0 auto;
        position: relative;
        bottom: -10px;
      }
    }
  }// end of skills container
  .profile-text {
    color:$dark-general-text;
    font-size: 20px;
  }// end of profile container
}


.section-title {
  text-align: center;
  padding-top: 25px;
}

.section-title-light {
  color: $dark-general-text;
  text-align: center;
}


//Work Exp Section

.work-experience-container {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 100px;
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 50px;
    padding: 20px;
    justify-content: center;
    .work-card {
      background: $dark-background2;
      padding: 0px 10px;
      padding-bottom: 50px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 0 auto;
      .work-title {
        border-bottom: 5px solid $gunmetal;
        margin: 0px 20px;
      }
    }
  }
}

//Project Section

.projects-section {
  background-color: $dark-background2;
  padding-bottom: 100px;

  .project-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .project-container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 50px;
      padding-bottom: 50px;
      //
      position: relative;
      border: 2px solid #ddd; 
      border-radius: 8px; 
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
      transition: background-color 0.4s ease;
      &:hover{
        background-color: $dark-hover-bg;
      }
      h3{
        width: 100%;
        text-align: center;
      }
  
      .project-image-container,
      .project-description-container {
        width: 40%
      }
  
      .project-image-container{
       max-height:400px;
       max-width: 600px;
       img {
        height: 100%;
        object-fit:fill;
       }
      }

      a {
        display: inline;
        margin-right: 10px;
      }
      
    }
  }
}


