/* navbar.scss */

// Navbar styles for the metallic grey scale theme
$navbar-background: transparent;
$navbar-font-color: #f2f2f2;
$navbar-link-hover: #0099ff;

// Navbar styles
.navbar {
  background-color: $navbar-background;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0px 50px;
  margin-bottom: 10px;
  height: 50px;
  .hamburger-menu {
    display: none;
  }
  h1 {
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 2px;
    &:hover,
    &:focus {
      border-bottom: 2px solid;
    }
  }
  .navBarButton {
    font-size: inherit;
    border: none;
    background-color: $accent-color-4;
    color: $base-font-family;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 60px;
    border-radius: 5px;
    &:hover,
    &:focus {
      background-color: $gunmetal;
      border: none;
      color: $accent-color-3;
    }
    a {
      color: inherit;
      &:hover,
      &:focus {
        background-color: $gunmetal;
        border: none;
        color: $accent-color-3;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    li {
      margin-right: 20px;
      border-bottom: 2px solid $body-background;
      &:last-child {
        margin-right: 0;
      }
      &:hover,
      &:focus {
        border-bottom: 2px solid;
        &:nth-last-child(2) {
          border-bottom: none;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    margin: 0 20px;
    padding: 10px;
    ul {
      li {
        margin-bottom: 15px;
        height: 20px;
        &:hover {
          border-bottom: none;
        }
        &::after {
          content: "";
          background-color: $silver;
          height: 5px;
          width: 5px;
          position: relative;
          left: 15px;
          border-radius: 50%;
          display: none;
          transition: transform 0.3s;
        }
        &.navBarButton::after {
          position: absolute;
          left: 86px;
        }
        &:hover::after {
          display: inline-block;
          transform: scale(1.5);
        }
        a {
          color: $brushedSteel;
        }
      }
      .contact {
        &:hover {
          border-bottom: none;
        }
        background-color: $brushedSteel;
        a {
          color: $gunmetal;
          &:hover {
            color: $button-text-color;
          }
        }
      }
    }
    .hamburger-menu {
      display: block;
      z-index: 101;
      position: fixed;
      right: 25px;
      font-size: 25px;
    }
    position: relative;
    .menu {
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: fixed;
      right: -220px;
      top: 0px;
      padding-top: 50px;
      padding-right: 56px;
      padding-left: 15px;
      padding-bottom: 15px;
      background-color: $dark-paragraph-background;
      z-index: 100;
      border-radius: 5%;
      transition: transform 0.8s ease-in-out;
    }
    .showMenu {
      transform: translateX(-210px);
    }
  }
}
